<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="formato.css">

    <title>Mi Mascota Favorita</title>
  </head>
    <!-- Inicio barra de navegación -->
    <div class="container-lg adornartexto" style="background-color: rgba(247, 172, 11, 0.952);">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-lg">
                    <a class="navbar-brand" href="Index.html"><b>MI MASCOTA FAVORITA</b></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="bandanas.html">Bandanas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="correas.html">Correas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="identificadores.html">Identificadores</a>
                            </li>                   
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="registro.html">Regístrate</a>
                            </li>                 
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Fin barra de navegación -->

  <!-- Inicio descripción producto -->
  <div class="container-lg" style="background-color: rgba(191, 228, 29, 0.788);">
    <div class="row mt-2 p-2">
        <!-- Imagen de identificadores para perros  -->
        <div class="col-12 col-md-4">
            <img src="fotos/correa_1.jpg" class="d-block mw-100" alt="Identificador">
        </div>
        <!-- Contenido Titulo-Codigo-Precio-Promocion-Descripcion-Boton de copmprar-->
        <div class="col-12 col-md-8">
            <div class="row">
            <h1>Correa Extensible Gigante Neon FLEXI</h1>
            <p>Código del producto: 90465</p>
          </div>
          <div class="row">
            <h3>Precio</h3>
            <p><del>$14.990.-</del></p>
            <p>$9.990.- (PROMOCIÓN)</p>
          </div>
          <div class="row">
            <h3>Descripción</h3>
            <p class="justificartexto">Resistente correa extensible para perros tamaño gigante o XL
                de la marca Flexi con alcance de hasta 8 metros Con empuñadura
                confortable y adaptada a tu mano.</p>
                <p class="justificartexto">Ideal para perros de razas extra grandes de hasta 75 kilos,
                especialmente grandes, robustos y con mucha fuerza!. 
                De excelente fabricación alemana con alta calidad y resistencia.
            </p>
          </div>
          <!-- Boton de compra-->
            <div class="row">
              <div class="d-grid gap-2 d-md-block">
                  <button class="btn btn-primary" type="button">Comprar</button>
              </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin descripción producto -->

<footer>
  <div class="container-lg"  style="background-color: rgba(120, 139, 34, 0.479);">
      <div class="row mt-2 p-2">
          <div class="row">
              <div class="col-12 col-md-4">
                  <span class="text-center">
                  <h6>Dirección</h6>    
                  <p>Alvares 8624, Viña del Mar</p>
              </span>
              </div>
              <div class="col-12 col-md-4">
                  <span class="text-center">
                  <h6>Teléfono</h6>    
                  <p>+56 987 654 321</p>
              </span>
              </div>
              <div class="col-12 col-md-4">
                  <span class="text-center">
                  <h6>Correo</h6>
                  <p><a href="mailto:contacto@mimascotafavorita.com">contacto@mimascotafavorita.com</a></p>
              </span>
              </div>
          </div>
      </div>

  <!-- Copyright -->
      <div class="text-center">
      Todos los derechos reservados.
      <a class="text-reset fw-bold" href="index.html">MI MASCOTA FAVORITA S.A.</a>
      </div>
  <!-- Copyright -->
  </div>
</footer>
<!-- Fin footer -->


<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
</html>